{% extends "base.html" %}
{% block content %}
  <h1>TODO List <a href={% url "tasks:task-create" %}>+</a></h1>
  {% if task_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Deadline</th>
        <th>Tags</th>
      </tr>
      {% for task in task_list %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.deadline }}</td>
          <td>{{ task.tags }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no tasks in list</p>
  {% endif %}
{% endblock %}